<div class="menu">
  <ul class="menu-main">
    <li><a routerLink="/settings" routerLinkActive="active">
      <fa-icon [icon]="faGraduationCap"></fa-icon>
      Открыть настройки</a></li>
    <li><a routerLink="/added" routerLinkActive="active">
      <fa-icon [icon]="faList"></fa-icon>
      Недавно добавленные слова</a></li>
    <li><a routerLink="/go" routerLinkActive="active">
      <fa-icon [icon]="faCogs"></fa-icon>
      Приступить к изучению слов</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
